html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  float: left;
}

/*     공통 css*/

/* 가운데 정렬 */
.abx {
  width: 1200px;
  margin: 0 auto;
}

.bbx {
  float: left;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

/*===================A header================*/
.top1 {
  position: relative;
  height: 100px;
  z-index: 999;
  width: 1000px;
}

.top2 {
  width: 1200px;
}

/*로고*/
.top .logo {
  margin-left: 500px;
  margin-top: -50px;
}

/*메뉴*/
.cbx {
  width: 1000px;
  height: 50px;
  background-color: rgb(125, 31, 8);
  margin-top: 90px;
  margin-left: 110px;
}

/* .cbx가상요소로 메뉴 100%(1200px)배경 만들기 */
.cbx::before {
  content: "";
  display: block;
  position: absolute;
  top: 250px;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(234, 115, 36, 0.9);
  transition: height 0.4s;
}

.cbx li {
  position: relative;
  width: 200px;
  /* border: 1px solid black; */
}

.cbx a {
  display: block;
  width: 100%;
  height: 100%;

  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
}

/*서브메뉴*/
.cbx ol {
  height: 0;
  overflow: hidden;
}

/*메뉴아래 서브메뉴 .gnb::before와 관련 */
.cbx:hover ol,
.cbx:hover::before {
  height: 150px;
}

.cbx ol a {
  font-size: 16px;
  line-height: 40px;
}

/*하이라이트 설정*/
/*메인, 서브 메뉴*/
.cbx li:hover a {
  color: #fff;
}

/*서브 메뉴*/
.cbx ol li:hover a {
  background-color: rgb(231, 31, 31);
}

/*===============슬라이딩===================*/
.mid {
  width: 400px;
  height: 200px;
  overflow: hidden;
}

.slide {
  position: relative;
  left: 0;
}

/*===============오늘의메뉴 및 카페 이벤트=======================*/

.cont > .bbx {
  width: 400px;
  /* background-color: yellow; */
}

/* 탭메뉴 */
.tm {
  width: 400px;
  height: 40px;
  /* background-color: red; */
}

.tm li a {
  display: block;
  width: 200px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  background-color: rgb(125, 31, 8);
}

.tm li.on a {
  background-color: rgb(217, 134, 134);
}

/* 탭 내용 */
.tc {
  height: 138px;
  background-color: #fff;
}

.tc > li {
  width: 100%;
  height: 100%;
  display: none;
}

.tc > li.on {
  display: block;
}

/* 카페 이벤트 */
.cafe {
  padding-top: 9px;
  padding-left: 7px;
}

.cafe li {
  line-height: 24px;
  /* border: 1px solid black;*/
}

.cafe a {
  display: inline-block;
  width: 270px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cafe span {
  float: right;
  padding-right: 5px;
}

/*  갤러리 리스트 */
.today li {
  margin: 18px 15px;
}

.today img {
  width: 100px;
  border: 1px solid #777;
}

/* 배너 및 바로가기 이미지*/
.im {
  width: 100%;
  height: 100%;
}
/*===========Footer===============*/
/* .info .bbx {
  background-color: yellow;
} */

.info1 {
  width: 200px;
}

.info1 .logo {
  margin-left: 50px;
}

.info2 {
  width: 800px;
  text-align: center;
  line-height: 250px;
  font-weight: bold;
}

.info3 {
  width: 200px;
  text-align: center;
  line-height: 257px;
}

/*=========팝업창===============*/
.pop {
  position: fixed;
  top: 15%;
  left: 65%;

  width: 350px;
  padding: 15px;
  z-index: 999;
  background-color: rgb(215, 189, 189);
  border: 3px solid #888;
}

.dbx {
  text-align: right;
}
