html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  float: left;
}

/*     공통 css*/

/* 가운데 정렬 */
.abx {
  width: 1200px;
  margin: 0 auto;
}

.bbx {
  float: left;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  /*박스가 패딩 때문에 커지는 것을 막아줌.
    https://velog.io/@jewon119/01.CSS-%EA%B8%B0%EC%B4%88-%EB%B0%95%EC%8A%A4-%EB%AA%A8%EB%8D%B8-%EC%9D%B4%ED%95%B4*/
}

/*===================A header================*/
.top1 {
  position: relative;
  height: 100px;
  z-index: 999;
  width: 1000px;
}

.top2 {
  width: 1200px;
}

/*로고*/
.logo {
  margin-left: 500px;
  margin-top: -50px;
}

/*메뉴*/
.cbx {
  width: 1000px;
  height: 40px;
  background-color: rgb(125, 31, 8);
  margin-top: 90px;
  margin-left: 110px;
}

/* .gnb가상요소로 메뉴 100%(1200px)배경 만들기 */
.cbx::before {
  content: "";
  display: block;
  position: absolute;
  top: 260px;
  left: 0;
  /*나의 부모는? .gnb에 마우스 오버시 크기*/
  width: 100%;
  height: 0; /* 170px - .gnb에 마우스 오버시 크기*/
  background-color: rgba(234, 115, 36, 0.9);
  transition: height 0.4s; /*서브메뉴 ol과 동일한 트랜지션*/
}

.cbx li {
  position: relative;
  width: 200px;
  /* border: 1px solid black; */
}

.cbx a {
  display: block;
  width: 100%;
  height: 100%;

  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
}

/*서브메뉴*/
.cbx ol {
  height: 0;
  overflow: hidden;
}

/*메뉴아래 서브메뉴 .gnb::before와 관련 */
.cbx:hover ol,
.cbx:hover::before {
  height: 150px;
}

.cbx ol a {
  font-size: 16px;
  line-height: 40px;
}

/*하이라이트 설정*/
/*메인, 서브 메뉴*/
.cbx li:hover a {
  color: #fff;
}

/*서브 메뉴*/
.cbx ol li:hover a {
  background-color: rgb(231, 31, 31);
}
